<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209518369797-h78gg8pk5ptbrapmip94kj550071ma85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209518369797-h78gg8pk5ptbrapmip94kj550071ma85</string>
	<key>API_KEY</key>
	<string>AIzaSyAym30gX73r2WS13nJdQwaXwsM5ggxS4f4</string>
	<key>GCM_SENDER_ID</key>
	<string>209518369797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myProject.FirebaseNotes</string>
	<key>PROJECT_ID</key>
	<string>fir-notes-603cc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notes-603cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209518369797:ios:13cc2768bf63f7e173106c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notes-603cc.firebaseio.com</string>
</dict>
</plist>